<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-6 mt-5">
                <h1>Recipe Detail</h1>
                <%- include('../includes/recipe-detail-view.ejs', {recipe: recipe}) %>
                <a href="/edit-recipe/<%= recipe._id %>?edit=true" class="btn btn-primary">Edit</a>
                <form action="/delete-recipe" method="POST">
                    <input type="hidden" name="recipeId" value="<%= recipe._id %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </main>
<%- include('../includes/end.ejs') %>